<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Airbnb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/homes">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="userService.getRole() == 'ROLE_ADMIN'">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manager Home
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item" *ngIf="userService.getRole() === 'ROLE_ADMIN'">
              <a class="dropdown-item" routerLink="/create">Create Home</a>
            </li>
            <li class="nav-item" *ngIf="userService.getRole() === 'ROLE_ADMIN'">

              <a class="dropdown-item"  routerLink="/home-manager">List Home</a>
            </li>

          </ul>
        </li>

        <li class="nav-item" *ngIf="userService.getRole() == 'ROLE_ADMIN'">
          <a class="nav-link" routerLink="/booking-hired-list">Manager Booking</a>
        </li>

        <li class="nav-item" *ngIf="userService.getRole() == 'ROLE_USER'">
          <a class="nav-link" routerLink="/booking-user-list">User Booking</a>
        </li>
        <li class="nav-item" *ngIf="userService.getRole() !== 'ROLE_ADMIN'">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item" *ngIf="!userService.isLogin()" >
          <a class="nav-link" routerLink="register">Register</a>
        </li>
        <li class="nav-item" *ngIf="!userService.isLogin()">
          <a class="nav-link" routerLink="/home-login">Login</a>
        </li>
        <li *ngIf="userService.isLogin()" >
          <div class="btn-group">
            <button *ngIf="userService.getRole() == 'ROLE_ADMIN'" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Admin
            </button>
            <button *ngIf="userService.getRole() == 'ROLE_USER'" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              USER
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="#" (click)="logout()">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
