<!--<div class="container">-->

<!--  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1>-->

<!--  <hr class="mt-2 mb-5">-->

<!--  <div class="row text-center text-lg-left">-->

<!--    <div *ngFor="let image of fileUploads" class="col-lg-3 col-md-4 col-6">-->
<!--      <a href="#" class="d-block mb-4 h-100">-->
<!--        <img class="img-fluid img-thumbnail" src="http://localhost:8080/file/{{image.name}}"  />-->
<!--      </a>-->
<!--    </div>-->
<!--&lt;!&ndash;      <a href="#" class="d-block mb-4 h-100">&ndash;&gt;-->
<!--&lt;!&ndash;        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--&lt;!&ndash; /.container &ndash;&gt;-->
<ng-template [ngIf]="fileUploads">
  <div class="container  page-top">
  <div class="row">

    <div *ngFor="let image of fileUploads">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a href="http://localhost:8080/file/{{image.name}}" class="zoom img-fluid " class="fancybox" rel="ligthbox">
        <img  src="http://localhost:8080/file/{{image.name}}" class="zoom img-fluid "  alt="">
      </a>
    </div>
    </div>




  </div>


</div>

  <div></div></ng-template>
