<!--<div *ngIf="home;else elseBlock">-->
<br>
<div class="container">
  <h1>List Booking:</h1>
<table *ngIf="bookingList" class="table table-hover">
  <thead>
  <tr class="table-bordered table-primary"
      style="text-align: center; font-weight: 900 ; color: red ; font-size: 20px">
    <th scope="col">#ID</th>
    <th scope="col">Tên Nhà</th>
    <th scope="col">Check in</th>
    <th scope="col">Check out</th>
    <th scope="col">Người</th>
    <th scope="col">Children</th>
    <th scope="col">Thời gian đặt</th>
    <th scope="col">Nguoi dùng</th>
    <th scope="col">Trạng thái</th>

  </tr>
  </thead>
  <tbody>

    <tr  class="table-bordered" style="text-align: center"
         *ngFor="let bookingItem of bookingList">
      <th scope="row">{{bookingItem.id}}</th>
      <th>{{bookingItem.home.name}}</th>
      <th>{{bookingItem.checkin}}</th>
      <th>{{bookingItem.checkout}}</th>
      <th>{{bookingItem.guest}}</th>
      <th>{{bookingItem.children}}</th>
      <th>{{bookingItem.timeNow|date: 'EEEE, d-M-yyyy, h:mm a'}}</th>
      <th>{{bookingItem.user.username}}</th>
      <th>
      <app-booking-cancel [bookingId]="bookingItem.id"
      (valueChange)="receiveBooking($event)"
      ></app-booking-cancel>
        <app-home-checkin [homeId]="bookingItem.home.id"></app-home-checkin>
      </th>


    </tr>


  </tbody>
</table>
<div *ngIf="!bookingList">
  <p  class="container">#No data history Booking</p>
</div>
</div>
<!--</div>-->
<!--<ng-template #elseBlock>Không tìm thấy dữ liệu.</ng-template>-->
