<br>
<div class="container">
  <h1>List Booking for Host:</h1>
<table *ngIf="bookingList" class="table table-hover">
  <thead>
  <tr   class="table-bordered table-primary"
      style="text-align: center; font-weight: 900 ; color: red ; font-size: 20px">
    <th scope="col">#ID</th>
    <th scope="col">Tên Nhà</th>
    <th scope="col">Check in</th>
    <th scope="col">Check out</th>
    <th scope="col">Người</th>
    <th scope="col">Children</th>
    <th scope="col">Thời gian đặt</th>
    <th scope="col">Nguoi đang thuê</th>
    <th scope="col">Trạng thái</th>

  </tr>
  </thead>
  <tbody>

  <tr class="table-bordered" style="text-align: center"
      *ngFor="let bookingItem of bookingList">
    <th  scope="row">{{bookingItem.id}}</th>
    <th *ngIf="bookingItem!=null">{{bookingItem.home.name}}</th>
    <th *ngIf="bookingItem!=null">{{bookingItem.checkin}}</th>
    <th *ngIf="bookingItem!=null">{{bookingItem.checkout}}</th>
    <th *ngIf="bookingItem!=null">{{bookingItem.guest}}</th>
    <th *ngIf="bookingItem!=null">{{bookingItem.children}}</th>
    <th *ngIf="bookingItem!=null">{{bookingItem.timeNow}}</th>
    <th *ngIf="bookingItem!=null">{{bookingItem.user.name}}</th>
    <th *ngIf="!bookingItem.cancelled">
        Still Booking
    </th>
    <th *ngIf="bookingItem.cancelled">
      Cancelled
    </th>
  </tr>


  </tbody>
</table>
</div>
