<table>
  <thead>
  <tr class="table-bordered table-primary" style="text-align: center; font-weight: 900 ; color: red ; font-size: 50px">
    <th scope="col">#ID</th>
    <th scope="col">Tên Nhà</th>
    <th scope="col">Check in</th>
    <th scope="col">Check out</th>
    <th scope="col">Người</th>
    <th scope="col">Thời gian đặt</th>
    <th scope="col">Trạng thái</th>
    <th scope="col">
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="col">#ID</th>
    <th scope="col">Tên Nhà</th>
    <th scope="col">Check in</th>
    <th scope="col">Check out</th>
    <th scope="col">Người</th>
    <th scope="col">Thời gian đặt</th>
    <th scope="col">Trạng thái</th>
    <th scope="col">
  </tr>
  </tbody>
</table>
