<app-home-images [home] = home></app-home-images>
<div class="card" *ngIf="home" >
  <div class='card-header'>
    {{pageTitle+": "+home.name}}
  </div>
  <div class="card-body">
    <div class='row'>
      <div class='col-md-4'>

        <img class='center-block img-responsive'
             [style.width.px]='200'
             [src]='netImage'
             [title]='home.name'>
      </div>
      <div class="col-md-8">
        <h5 class="card-title">{{home.name}}</h5>
        <p class="card-text">{{home.description}}</p>
        <ul class="list-group" *ngIf="home">
          <li class="list-group-item"><b>Type-Home#:</b> {{home.typeHome.name | lowercase }}</li>
          <li class="list-group-item"><b>Type-Room:</b> {{home.typeRoom.name}}</li>
          <li class="list-group-item"><b>Price:</b> {{home.price|currency:'USD':'symbol'}}</li>
          <li class="list-group-item"><b>Bathroom:</b> {{home.bathroom}}</li>
          <li class="list-group-item"><b>Bedroom:</b> {{home.bedroom}}</li>
          <li class="list-group-item"><b>Address:</b> {{home.address}}</li>
                    <li  class="list-group-item">
                      <div [hidden]="isActive"><b>Status:</b> Empty</div>
                      <div [hidden]="!isActive"><b>Status:</b> Full</div>
                       &nbsp;
                    </li>
<!--              <app-home-status [status] = "selectStatus" ></app-home-status>-->
<!--          </li>-->
        </ul>
      </div>
    </div>
    <div class="panel-footer">
<!--      <button class="btn btn-primary"(click)="editHome()">Edit</button>-->
<!--      <button class="btn btn-danger"(click) = "deleteHome()">Delete</button>-->
      <div *ngIf="role == 'ROLE_ADMIN'">
      <app-home-status [home]=home (notify)=" changeActive($event)"></app-home-status>
      </div>
      <div *ngIf="role == 'ROLE_ADMIN'">
        <a class="btn btn-primary btn-lg float-right" routerLink="/upload-image/{{home.id}}">Upload Image</a>

      </div>
      <a  routerLink="/booking/{{home.id}}" class="btn btn-primary btn-lg float-right">Book</a>
    </div>
<!--    <app-home-edit [home] = selectHome></app-home-edit>-->
  </div>
  <div class='card-footer'>
    <button class='btn btn-outline-secondary' (click)='onBack()'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
  </div>
</div>
